<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Estudiantes y notas</title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='estilo.css') }}">
    </head>
    <body>
        <h1>Estudiantes y notas</h1>
        <h2>Eliminar estudiante</h2>
        <nav>
            <a href="/">listar estudiantes</a> 
        </nav>
        <section id="alerta">
            <h3>Esta seguro que desea eleiminar al siguiente estudiante:</h3>
            <b>Nombre: </b> {{ datos.nombre }} {{ datos.apellido }} <br>
            <b>Código: </b> {{ datos.codigo }}

        </section>
        <form action="/eliminar_estudiante" method="post">
            <input type="hidden" name="id" value="{{ datos.id }}">
            <input type="submit" value="Aceptar">
        </form>
    </body>
</html>