<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Estudiantes y notas</title>
        <link rel="stylesheet" type="text/css"
        href="{{ url_for('static', filename='estilo.css') }}">
    </head>
    <body>
        <h1>Estudiantes y notas</h1>
        <h2>Ver notas</h2>
        <nav>
            <a href="/">listar estudiantes</a> 
        </nav>
        <h3>Notas para el estudiante:</h3>
        <b>Nombre: </b> {{ estudiante.nombre }} {{ estudiante.apellido }} <br>
        <b>Código: </b> {{ estudiante.codigo }}<br>
        <b>Correo: </b> {{ estudiante.correo }}<br>
        <hr>
        aqui deben ir las notas
    </body>
</html>